@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
body{
    background-color: #003e5c;
    font-family: 'Josefin Sans', sans-serif;
    color: #ffffff;
    text-align: center;
}
h1{
    font-size: 5rem;
}
p{
    font-size: 1.2rem;
}
.inputs{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.conference-column{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 16vw;
    margin: 0 4vw;
}
.inputs-column select{
    width: 100%;
}
.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons button {
    margin: 10px 0;
}
.conference-column-name{
    font-size: 2.5rem;
    font-weight: 700;
}
.input-line{
    display: flex;
}
#shown-canvas{
    width: 1000px;
    height: 1000px;
    background-image: url('../img/export-background.png');
    background-size: cover;
    margin-bottom: 20px;
    border: 1px solid aquamarine;
}
#export-canvas{
    display: none;
}
#source{
    width: 640px;
    height: 640px;
}
#download-button{
    color: #ffffff;
    font-size: 1.5rem;
    text-decoration: none;
}